main {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

#banner {
  width: 76%;
  height: 320px;
  background-image: url("../assets/unsplash__25iXtaa6oY.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 6vw;
  margin-top: 15px;
}
#text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  margin-left: -85px;
}
#text h1 {
  font-size: 4.5rem;
  font-weight: 700;
  width: 440px;
}
#text p {
  font-size: 1.5rem;
  width: 520px;
}
#buttonAgenda {
  width: 250px;
  height: 60px;
  background: #f06123;
  border: 0;
  border-radius: 50px;
  color: #fff;
  font-size: 1.2rem;
}
#buttonAgenda:hover {
  background: #742604;
}
#mobileIcon {
  display: none;
}
