@media(max-width: 1100px){
    #titulo{
        width: 50vw;
    }
}



@media(max-width: 890px){
#titulo{
    display: none;
}
#navegation {
    display: none;
   
}
#logo{
    justify-content: center;
    width: 100px;
}
main{
    height: 86vh;
}
#banner{
    background: linear-gradient(90deg, #000000 20%, #000000 15.63%, rgba(0, 0, 0, 0) 100%), url('../assets/unsplash__25iXtaa6oY.png');
    height: 100%;
    background-position: top ;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0;
    justify-content: center;
}
#text{
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
    align-items: center;
    margin: 0;
}
#text h1{
    text-align: center;
    font-size: 3.5rem;
    width: 100%;
}
#text p{
    width: 90%;
    font-size: 2rem;
    text-align: center;
}
#buttonHome{
    display: none;
}
#mobileIcon{
    display: flex;
    font-size: 2rem;
  margin-right: 15px;
}
#buttonAgenda{
    width:70vw
}
}

